@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


h1,
h2,
h3 {
    font-family: "Hind Madurai", sans-serif;
    /* margin: .5rem 0rem .5rem 0rem; */
}

h3 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

/* short component  */
.allCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
svg, button {
  transition: all 0.3s ease;
  cursor: pointer;
}

svg, button:hover {
  transform: translateY(-4px) scale(1.05);
}

svg, button:active {
  transform: translateY(-1px) scale(0.98);
}
